<a href="https://colab.research.google.com/github/abrishwon21/ML_in_Python/blob/master/pandas_pokmon_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
'''
Pandas Assignment 2

Q1.print top most powerfull pokemons on the basis of their total/average total
Q2.i)Take pokemon name from the user and print the details of that particular pokemon,say usr_pok.
  ii)Generate random number and using that number,display a particular pokemon,say comp_pok
  iii) Now depending on the above two questions,compare the two pokemons,such as 
      usr_pok and comp_pok on the basis of their total.
      Note: if they have the same total,their Legendary will be taken into consideration
'''

import pandas as pd

import numpy as np

df=pd.read_csv("/content/sample_data/Pokemon.csv")
df2=df.groupby(['Type1']).mean().sort_values('Total',ascending=False)
TopType=df2.loc[:,:'Total']
print('____The most powerfull type of pokemons______')
print(TopType)

____The most powerfull type of pokemons______
                   #       Total
Type1
Dragon    474.375000  550.531250
Steel     442.851852  487.703704
Flying    677.750000  485.000000
Psychic   380.807018  475.947368
Fire      327.403846  458.076923
Rock      392.727273  453.750000
Dark      461.354839  445.741935
Electric  363.500000  443.409091
Ghost     486.500000  439.562500
Ground    356.281250  437.500000
Ice       423.541667  433.458333
Water     303.089286  430.455357
Grass     344.871429  421.142857
Fighting  363.851852  416.444444
Fairy     449.529412  413.176471
Normal    319.173469  401.683673
Poison    251.785714  399.142857
Bug       334.492754  378.927536

In [98]:
#userpokemon

usrpok=input("please enter the pokemon Name")
grupbyName=df.groupby('Name')
userPok=grupbyName.get_group(usrpok)
userPok

please enter the pokemon NameBulbasaur

   #       Name  Type1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1  Bulbasaur  Grass  Poison  ...       65     45           1      False

[1 rows x 13 columns]

In [100]:
import random as rand
#let's generate the random number as index for grouping purpose

maxind=rand.randint(-1,800)
computerPok=df.loc[:maxind,:]
print('========The details of computer pokemon===========')
computer_pokman=computerPok.iloc[maxind]
computer_pokman

========The details of computer pokemon===========

#                  569
Name          Garbodor
Type1           Poison
Type 2             NaN
Total              474
HP                  80
Attack              95
Defense             82
Sp. Atk             60
Sp. Def             82
Speed               75
Generation           5
Legendary        False
Name: 630, dtype: object

In [101]:
#Now let's compare them on the basis of their total
def comparThem():
  if (int (computer_pokman['Total'])==int (userPok['Total'])):
    if (computer_pokman['Legendary']==True and userPok['Legendary']==True):
      print(computer_pokman['Name']," and ",userPok['Name']," are the same")
    elif (computer_pokman['Legendary']==True and userPok['Legendary']==False):
      print(computer_pokman['Name']," is the most powerfull")
    else:
      print(userPok['Name']," is powerfull")
  elif (int (computer_pokman['Total']) > int (userPok['Total'])):
    print(computer_pokman['Name']," is the winner")
  else:
    print(userPok['Name']," are the winners")
print("the result of comparison:")
comparThem()

the result of comparison:
Garbodor  is the winner